* { margin: 0; padding: 0; }
a { text-decoration: none;
    text-shadow: 1px .5px #000;
  }
  a:hover { color:red;}   
h1, h4, a { color: #808080; }
h1 { margin: 0 0 0 100px;
     text-shadow: 1px 1px #000;
   }
h4 { margin: 0 0 0 110px; }

.clear { clear: both; }
#header { float: left; width: 50%; }
#headerlong { float: left; width: 100%; }
  #header img, #headerlong img { width: 50px;
                                 height: 50px;
                                 margin: 20px 0 0 100px; 
                                }
  #header form { text-align: center; }                              
#menu { width: 50%; position: absolute; right: 10px;}
  .botonActivado, .botonMenu { display: block;
                               float: left; 
                               margin-left: 26px; }
    .botonActivado a { text-shadow: 1px .5px #F00; color: #000;}


#contenido {  float: right; width: 50%; }
  #aparecenmaterias { text-align: center; display: none; }
  #aparecenufos {  display: none; }
    #aparecenufos h2 { text-align: center; }
    #aparecenmaterias h2 { margin: 120px 0 50px 0; }
    #aparecenmaterias a, #aparecenufos a { margin: 0 150px; }


#materias, #conceptos { margin: 10px 0 60px 110px;}
  #materias th { text-align: left;
                 text-indent: 10px;
                 
               }
    #materias th a:hover { color:red;
                         text-shadow: 1px .5px #000;
                       }

#baner { width: 15%; 
          height: 100%; 
          min-height: 100%;
          border: ridge 7px #5F9EA0;
          border-radius: 3%;
          float: right;
          background-color: #E6E6FA;
          margin: 25px 3px 0 0;
          padding: 0 5px 0 1px;}
  #baner h5 { text-align: center;
              font-weight: bold;
              background-color: #D5D5D5;  }
    #baner ul a { font-size: 0.9em; }                  
    #baner hr { border: ridge #5F9EA0;}

#conceptos { background-color: #E1E1FA;
             border: ridge 4px #5F9EA0;
             border-radius: 2%;
             }          
  #conceptos span { color: #000;
                    font-weight: bold;
                    margin: 5px;
                    text-decoration: underline;
                 -webkit-text-decoration-color: ridge #5F9EA0; /* Safari */    
                 text-decoration-color: ridge #5F9EA0;  }
  #conceptos ul { margin: 0 0 0 15px; }
  #conceptos p { margin: 4px 0 8px 8px; }
  #conceptos hr { border: ridge 0.7px #5F9EA0;}
  #conceptos h3 { margin: 6px 0 15px 50px;
                  color: #000; }
  #conceptos h5 { font-size: 1.2em;
                  font-weight: normal; 
                  text-indent: 15px; 
                  margin: 0 8px 0 15px;
                  line-height:150%;}
  #conceptos iframe { margin: 0 0 0 20%; }

 .botonVermas { border: ridge 4px #000;
                border-radius: 18%;
                float: right;
                margin: 0 120px 0 0;
                background-color: #0033b1;
                box-shadow: 2px 3px #666;
                 }
    .botonVermas a { color: #FFF;
                     padding: 0 4px; }
    .botonVermas:hover { border-color: red;
                         background-color: #5F9EA0;
                         box-shadow: .5px 1px #000; }
    .botonVermas a:hover { color: #000; }


#menuAdmin { text-align: center; }
.botonAdmin { margin: 22px 18px; }
  .botonAdmin a { color: #630;
                 border: ridge #0F0;
                 border-radius: 10px;
                 padding: 3px 10px;
                  }
  .botonAdmin a:hover { background-color: #77F; color: red; }

.formulario { text-align: center; }                                                   
/*#footer { position: absolute;
          bottom: 0px;}
   #footer a img { width: 50px;
   	               height: 50px;
                   margin: 0 50px; 
                 }                                 
   #footer span {  color: #808080;
                   padding: 0 0 0 200px;
                }*/
footer { position:fixed;
         left:0px;
         bottom:0px; 
       }                
footer a img { width: 50px;
               height: 50px;
               margin: 0 50px; 
             }
footer span {  color: #808080;
               padding: 0 0 0 200px;
            }                                   