* { margin: 0; padding: 0; }
a { text-decoration: none;
     text-shadow: 1px .5px #000; }
  a:hover { color:red;}   
h1, h4, a { color: #808080; }
h1 { margin: 0 0 0 100px;
     text-shadow: 1px 1px #000;
   }
h4 { margin: 0 0 0 110px; }

.clear { clear: both; }
#header { display: block; }
#header img { width: 50px;
            height: 50px;
            margin: 20px 0 0 100px; 
          }
#materias, #conceptos { margin: 10px 0 60px 110px;}
  #materias th { text-align: left;
                 text-indent: 10px;
                 cursor: pointer; 
               }

    #materias th:hover { color:red;
                         text-shadow: 1px .5px #000;
                       }
#conceptos { color: #000;}
  #conceptos th { text-align: left;
                 color:#808080;
                 text-indent: 10px;
                 cursor: pointer; 
               }
  #conceptos p { text-indent: 20px; font-size: 1.2em;}         
.termino { color: blue;
           text-indent: 100px; 
         }
  .termino dfn { color: #000;
                 font-weight: bold;
               }                                    
#footer { position: absolute;
          bottom: 0px;}
   #footer a img { width: 50px;
   	               height: 50px;
                    margin: 0 50px; 
                 }                                 
   #footer span {  color: #808080;
                 padding: 0 0 0 200px;
                }